# Node & Next
frontend/node_modules/
frontend/.next/

# Backend deps
backend/node_modules/

# Environment & build artifacts
.env
.env.local

# Ignore virtual environment
venv/

# Ignores Database
study_data.json